* {
    padding: 0%;
    margin: 0%;
}

html {
    background-color: #8ecae6;
}

#whole-body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

#container {
    position: absolute;
    height: 400px;
    width: 1000px;
    top: 50%;
    transform: translateY(-50%);
    border: solid #023047 2px;
}

#input {
    border: solid #023047 2px;
    height: 400px;
    transform: translate(-1px, -1px);
    width: 300px;

}

.label {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}


#reading-container {
    height: 120px;
    display: flex;
    justify-content: center;
    
}

#reading {
    position: relative;
    top: 25%;
    width: 75%;
    padding-top: 10px;
    border-radius: 1rem;
    height: 50%;
    background-color: #219ebc;
    text-align: center;
    font-size: 40px;
}

#force-input-container {
    height: 10%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

#force-input {
    outline: none;
    resize: none;
    width: 75%;
    border-radius: 0.5rem;
    border-color: #023047;
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
}

#force-slider {
    position: relative;
    -webkit-appearance: none;
    left: 12.5%;
    top: 10%;
    width: 75%;
    background: #219dbc4d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
}

#force-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #1aa7ca;
    cursor: pointer;
}

#force-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.267);
    cursor: pointer;
  }

#slider-scale-left {
    position: relative;
    font-size: 20px;
    top: 10%;
    left: 10%;
}

#slider-scale-right {
    position: relative;
    font-size: 20px;
    top: 4.5%;
    left: 80%;
}

#output {
    position: absolute;
    top: 50%;
    left: 301px;
    transform: translate(2px, calc(-50%));
    height: 401px;
    width: 698px;
}

#measure-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
    height: 42%;
    width: 100%;
    overflow: hidden;
}

.scale {
    background-color: #219ebc;
    border-radius: 1rem;
    height: 100%;
    width: 40%;
    float: left;
}

#scale-separator {
    height: 100%;
    width: 10%;
    float: left;
}

.scale-label {
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    
}

.scale-reading {
    position: relative;
    background-color: rgba(10, 51, 126, 0.267);
    text-align: center;
    width: 75%;
    left: 12.5%;
    height: 50px;
    top: 10%;
    padding-top: 1%;
    font-size: 40px;
    border: 2px solid #023047;
}

#rendering {
    position: relative;
    border: 2px solid #023047;
    top: 10%;
    left: -2px;
    height: 38%;
    padding-left: 15%;
    width: calc(85% - 1px);
}

#anchor {
    position: relative;
    background-color: black;
    height: 75%;
    width: 2%;
    border-radius: 1rem;
    left: -10%;
    top: 12.5%;
}

#base {
    position: relative;
    background-color: black;
    height: 7%;
    width: 10%;
    left: -14%;
    top: 6%;
    border-radius: 1rem;
    z-index: 0;
}

.scale-render {
    position: relative;
    height: 50px;
    width: 152px;
    left: -10%;
    top: -20%;
}

.scale-img {
    height: 48px;
    width: 150px;
}

.scale-left {
    position: relative;
    left: -82%;
}

.scale-right {
    position: relative;
    top: -135%;
}

#scale1-right {
    position: relative;
    left: -82%;
}

#scale2-left {
    position: relative;
    left: -50%;
}

#scale2-right {
    position: relative;
    left: -50%;
}

#stick-pull {
    position: relative;
    top: -54%;
    left: -5%;
    height: 100px;
    width: auto;
}

#render1 {
    position: relative;
    left: 9.5%;
    top: -50%;
    float: left;
}

#render2 {
    position: relative;
    left: 7.5%;
    top: -50%;
    float: left;
}

.arrow {
    width: 50px;
}

.arrow-base {
    position: relative;
    background-color: #356075;
    height: 160px;
    width: 8px;
    left: 12%;
    margin-top: -2%;

}

/* Credit to https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-head {
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #356075;
}

#arrow1 {
    position: absolute;
    top: -58%;
    left: 10%;
}


#arrow2 {
    position: absolute;
    top: -58%;
    left: 56%;
}